name: Continuous Integration (CI)

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Run unit tests
        run: ./gradlew test

      - name: Run Checkstyle
        run: ./gradlew checkstyleMain

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
         ./gradlew sonarqube \
         -Dsonar.login=$SONAR_TOKEN

      - name: SonarCloud Quality Gate
        uses: SonarSource/sonarcloud-quality-gate-action@v1.1.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}